# Залежності
node_modules/

# Змінні середовища
.env
.env.*

# Завантажені файли
uploads/*
!uploads/.gitkeep

# Звіти про тестування (генерується Jest)
coverage/

# Логи NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Архіви та специфічні файли
*.zip
*.tar.gz
*.rar
Practice_Varchak.zip

# Зображення, які не є частиною коду або документації
pr_2st_graph.png

# Системні файли ОС
Thumbs.db